rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }

    function isAdmin() {
      return isSignedIn() && exists(/databases/$(database)/documents/admins/$(request.auth.uid));
    }

    match /admins/{userId} {
      allow get: if isSignedIn() && request.auth.uid == userId;
      allow list: if false;
      allow create: if isSignedIn() && request.auth.uid == userId;
      allow update, delete: if isAdmin();
    }

    match /bloodDonationEvents/{eventId} {
      allow get, list: if true;
      allow create, delete: if isAdmin();
      allow update: if 
        isAdmin() || 
        (request.resource.data.currentRegistrations == resource.data.currentRegistrations + 1 &&
          request.resource.data.id == resource.data.id &&
          request.resource.data.location == resource.data.location &&
          request.resource.data.date == resource.data.date &&
          request.resource.data.maxQuota == resource.data.maxQuota);
    }

    match /participants/{participantId} {
      allow create: if true;
      allow get, list, update, delete: if isAdmin();
    }
  }
}
