@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 39 41% 95%;
    --foreground: 6 30% 10%;
    --card: 0 0% 100%;
    --card-foreground: 6 30% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 6 30% 10%;
    --primary: 6 85% 31%;
    --primary-foreground: 39 41% 95%;
    --secondary: 11 23% 72%;
    --secondary-foreground: 6 85% 15%;
    --muted: 11 10% 85%;
    --muted-foreground: 6 10% 40%;
    --accent: 11 23% 85%;
    --accent-foreground: 6 85% 31%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 11 20% 80%;
    --input: 11 20% 85%;
    --ring: 6 85% 31%;
    --radius: 0.75rem;
  }
  .dark {
    --background: 6 30% 5%;
    --foreground: 39 41% 95%;
    --card: 6 30% 8%;
    --card-foreground: 39 41% 95%;
    --popover: 6 30% 8%;
    --popover-foreground: 39 41% 95%;
    --primary: 6 85% 40%;
    --primary-foreground: 39 41% 95%;
    --secondary: 11 20% 30%;
    --secondary-foreground: 39 41% 95%;
    --muted: 6 20% 15%;
    --muted-foreground: 11 10% 70%;
    --accent: 6 85% 20%;
    --accent-foreground: 39 41% 95%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 6 20% 20%;
    --input: 6 20% 20%;
    --ring: 6 85% 40%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}